/*******************************************************************************************************************
responsive media queries
********************************************************************************************************************/
@media (max-width: 767px) {
	body {
		font-size: 10px;
	}

	.nav-tabs,
	.nav-link,
	.nav-link.active {
		display: block;
		border: none;
		padding: .5rem 0;
	}

	.g-recaptcha {
		transform:scale(0.89);
		transform-origin:0 0;
	}

	#sendButton {
		width: 100%;
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
	}
}

/*******************************************************************************************************************
universal components
********************************************************************************************************************/
html {
	height: 100%;
}

body {
	height: 100%;
	font-family: 'Open Sans', courier;
	color: limegreen;
}

.jumbotron {
	height: 90%;
	margin: 0;
	background-color: black;
}

#container {
	border: solid 2px limegreen;
	height: 100%;
	width: 80%;
	overflow: hidden;
	position: relative;
}

.console-color {
	color: limegreen;
}
/*******************************************************************************************************************
CSS to force DIV relative div size for javascript scroll function
********************************************************************************************************************/
.tab-content {
	height: 90%;
	width: 100%;
	overflow: auto;
}
/*******************************************************************************************************************
CSS for main components
********************************************************************************************************************/
.navbar-toggler {
	color: limegreen;
}

.nav-tabs {
	border-bottom: none;
}

.nav-link {
	color: limegreen;
}

.nav-link.active {
	color: limegreen;
	border-color: limegreen;
}

.nav-tabs .nav-link:hover {
	color: fuchsia;
	border-color: transparent;
}

.nav-tabs .nav-link.active {
	color: limegreen;
	background-color: transparent;
	border-color: limegreen limegreen;
}

#consoleNav {
	border-bottom: solid 1px limegreen;
}

#footer {
	margin: auto;
	height: 10%;
	background-color: black;
}

.navbar a:hover {
	color: fuchsia;
}

/*******************************************************************************************************************
Contact form
********************************************************************************************************************/


.alert {
	background-color: transparent;
	color: fuchsia;
	border: none;
	margin: 0;
	padding: 1em;
}

.form-control.alert {
	background-color: transparent;
	border: solid 1px limegreen;
	color: limegreen;
}

.form-control {
	background-color: transparent;
	border: solid 1px limegreen;
	color: limegreen;
}

.form-control:focus {
	background-color: transparent;
	border: solid 1px limegreen;
	color: limegreen;
}

#sendButton {
	background-color: transparent;
	border: solid 1px limegreen;
	color: limegreen;
}
/*******************************************************************************************************************
typewriter button and inline element styles
********************************************************************************************************************/

#main button,
#main button:hover,
#main button:focus {
	background-color: transparent;
	font-size: 1em;
	border: none;
	color: fuchsia;
	padding: 0;
	margin: 0;
	cursor: pointer;
}

#madLib span {
	color: fuchsia;
}

em {
	color: fuchsia;
}

s {
	text-decoration: none;
}

/*******************************************************************************************************************
typewriter
********************************************************************************************************************/

#typeWriter {
	width: 100%;
	height: 100%;
	padding-top: .5rem;
}

#typeWriter span {
	display: block;
	letter-spacing: 2px;
}

#typeWriter #init::after {
	display: none;
}

#typeWriter span.typewriter-item::before {
	color: fuchsia;
	content: '>';
	display: inline-block;
	margin-right: 10px;
}

@keyframes blink {
	from, to {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
}

